[Unit]
Description=Download adblock-hostlist and update /etc/hosts
After=network-online.target
OnFailure=status-email-root@%n.service
ConditionPathExists=/etc/hosts.d
Before=update-etc-hosts.service
Wants=update-etc-hosts.service

[Service]
ExecStartPre=-/bin/mkdir -p /etc/hosts.d
#ExecStartPre=/usr/bin/nm-updatecheck.py -G -c
ExecStartPre=/bin/sh -c "/bin/systemctl is-active -q connection-online.target"
ExecStartPre=/bin/ping -q -c 1 "winhelp2002.mvps.org"
ExecStartPre=/usr/bin/wget http://winhelp2002.mvps.org/hosts.txt -O /etc/hosts.d/hosts.winhelp2002.list
ExecStartPre=/bin/sh -c "/usr/lib/systemd/scripts/hostupdate.sh|tee  /tmp/update_hosts_except"
ExecStartPre=/bin/sed -i -f /tmp/update_hosts_except /etc/hosts.d/hosts.winhelp2002.list
ExecStart=/bin/true

[Install]
WantedBy=timer-weekly.target
